body {
  text-align: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}
.p-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: 1px solid black;
  gap: 10px;
}

.display {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  min-height: 100px;
  width: 100%;
  border: 1px solid black;
  background-color: black; 
}
h2,
h4 {
  color: white;
  margin: 8px;  
}
.large {
  font-size: 28px;
}
.small {
  font-size: 16px;
}
#buttons {
  gap: 8px;
  display: flex;
  justify-content: center;
}
.row {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.row button {
  height: 60px;
  width: 60px;
  border-radius: 50%;

}
